* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(0, 0, 0);
}
.carousel-caption {
  top: 40%;
}
.card__img__hover {
  -webkit-filter: grayscale(100%);
}
.card__img__hover:hover {
  -webkit-filter: grayscale(0%);
}
.watch__card {
  border: 1px solid #ffffff50;
  margin: 10px;
  max-width: 250px;
}
.watch__btn {
  background-color: #2a2a2a;
  border: none;
  padding: 0px 25px;
  font-size: 14px;
}
.watch__btn:hover {
  background-color: #e76e62;
}
.watch__size {
  background-size: cover;
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  margin: 0px;
  padding: 0px;
}
.navbar__container {
  background-color: #000;
}
.left__banner {
  background-image: url("http://bionic-market.doradothemes.com/watch/themes/bionic_watch1/assets/img/dorado/dis-bg1.jpg");
}
.right__banner {
  background-image: url("http://bionic-market.doradothemes.com/watch/themes/bionic_watch1/assets/img/dorado/dis-bg1_2.jpg");
}
.vertical__line {
  width: 2px;
  height: 20px;
  border-left: 2px solid white;
  margin-bottom: 10px;
  margin: 10px;
}
.Col__2__img {
  width: 100%;
  height: 100%;
object-fit: cover;
}
.Col__3__img{
  width: 100%;
  height: 100%;
}
.instagram__content__container {
  background-color: #2a2a2a;
  color: white;
  display: grid;
}

.bi-instagram__big {
  font-size: 42px;
}
.instagram__img {
  max-width: 100%;
  max-height: 100%;
  -webkit-filter: grayscale(45%);
}
.instagram__img:hover {
  -webkit-filter: grayscale(0%);
}
.bi__dark,
.bi__white {
  color: #828282;
  border-radius: 50%;
  border: 1px solid #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.bi__white {
  color: white;
  border: none;
}
.bi__dark:hover {
}
.bi-facebook:hover ,.bi-linkedin:hover{
  background: #337ab7;
  color: white;
}
.bi-twitter:hover {
  background-color: #2fb5d2;
  color: white;
}
.bi-pinterest:hover {
  background-color: red;
  color: white;
}
.bi-instagram:hover {
  background-color: #ea13bbf4;
  color: white;
}

.footer__top__bg {
  background-color: #e76e62;
}
.btn__subscribe {
  font-size: 12px;
  font-weight: 700;
  border: 0px;
  background-color: white;
  border-radius: 0px 20px 20px 0px;
}
.btn__subscribe:hover {
  color: #e76e62;
}

input {
  outline: none;
}
.search__container {
  padding: 10px;
}
.footer__section {
  color: #828282;
}
.footer__section:hover {
  color: #e76e62;
  text-decoration: solid;
}
.text__tomato {
  color: #e76e62;
}
input,
input::placeholder {
  font: 10px sans-serif;
}
.bg__tomato {
  background: #e76e62;
}
.navbar-toggler {
  color: white;
  width: 27px;
  height: 27px;
  font-size: 26px;
}
.navbar {
  --bs-navbar-toggler-icon-bg: hidden;
}
.dropdown-item {
  font-size: 13px;
}
.dropdown__hover {
  font-size: 15px;
  font-weight: 200;
  color: white;
}
.dropdown__hover:hover {
  color: #e76e62;
  transition: 1s;
}
.users__content {
  border-top: 2px solid #e76e62;
}
.btn__hover {
  color: white;
}
.btn__hover:hover {
  color: #e76e62;
}
.btn__dropdown {
  padding: 10px;
  background: #e76e62;
  justify-content: padd;
}
.offcanvas {
  --bs-offcanvas-width: 250px;
  background: #000;
}
ul {
  list-style-type: none;
}
.mobile__logo {
  width: 100px;
}
.nav-link {
  padding-top: 10px;
  color: white;
}
.nav-link:hover {
  color: #e76e62;
  transition: 0.5s;
}
.mobile__navitem__blue:hover {
  color: #337ab7;
}
.nav__link__hover__effect {
  width: 1px;
  height: 10px;
  background-color: #e76e62;
  position: absolute;
  display: none;
  margin-left: 30px;
}

.nav-item:hover > .nav__link__hover__effect {
  display: block;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 5px;
  padding: 10px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: #e76e62;
  border-radius: 50%;
}
.carousel-indicators [data-bs-target] {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #e76e62;
}
.button__content::after {
  content: "2";
} /*BUTton'a içekik ekleyemiyorum ??*/

.slider__button {
  width: 100px;
  height: 30px;
  background: #e76e62;
  font-size: 10px;
}
.cart__info__text {
  font-size: 14px;
}

.card__sale__ticket {
  background-color: red;
  color: white;
  max-width: 100px;
  max-height: 20px;
  padding: 2px 10px;
  position: relative;
  left: -50px;
  font-size: 11px;
  border: none;
  cursor: pointer;
}
.card__sale__ticket:hover {
  background-color: gray;
}

.star__container::after {
  content: "\2606""\2606""\2606""\2606""\2606";
  opacity: 0.6;
  text-align: center;
  display: flex;
  justify-content: center;

  color: gold;
  cursor: pointer;
}
.star__container {
  display: none;
}

.watch__card:hover .star__container {
  display: block;
}
.watch__card:hover .card__price {
  display: none;
  width: max-content;
}
.card__img__container2{
  border: 1px solid #00000010;
}
.red__link{
  color: #e76e62;
}
.watch__img__size{
  max-width: 350px;
  max-height: 350px;
}
.wiev__btn,.wiev__btn2{
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  margin-top:-350px;
  padding: 5px;
}
.wiev__btn2{
  border:1px solid #00000010;
  color: #e76e62;
  padding: 0px;
  display: none;
}

.wiev__btn2:hover{
border-color: #e76e62;
}
.eye:hover{
  fill: #e76e62;
}

.watch__card:hover .wiev__btn2{
  display: block;
}
.wiev__btn::after {
  content: " svg ";
color: transparent;

}

.watch__card:hover .wiev__btn {
  display: block;
}
.card__img__container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.watch__image2 {
display: none;
opacity: 0;
top: 10px;

}
.card__img__container:hover .watch__image1 {
    display: none;

}
.card__img__container2:hover .watch__image1 {
    display: none;

  }
.watch__card:hover .watch__image2 {
  display: block;
  opacity: 1;
  transition: all 0.7s ease 0s;
  position: relative;
  backface-visibility: hidden;

}

.card__img__container2:hover .watch__image2 {
    display: block;
    opacity: 1;
    transition: all 0.7s ;
  }
  .watch__image2:hover{
    transform: scale(1.3); 
  }
.watch__image1:hover .watch__image2 {
  display: block;

}
.brand__container{
    padding: 30px;
}
@media screen and ( max-width:760px) {
  .Col__2__img{
    max-height:250px;
    object-fit: cover;

  }
}
.watch__header__backgroundImg{
  background-image: url(http://bionic-market.doradothemes.com/watch/themes/bionic_watch1/assets/img/dorado/bg-breadcrumb.jpg);
  width: 100%;
 min-height: 400px;
 display: block;
 background-size: cover;
}
.group__relevance{
  min-width: 250px;
  padding-right: 0px;

}
.button__relevance{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #e76e62;
}

.watch__nav__item__color{
  color: white;
}
.clear__btn__hover:hover{
background-color: #828282  !important;
}
.color__box{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.color__box:hover,.button__red__hover__effect{
  transition: all 0.7s ease 0s;
border: 3px solid #e76e62 !important;
}

.section__button{
  background-color: transparent;

border-radius: 5px;
font-size: 12px;
}
.color__box__small{
  max-width: 15px;
  max-height: 15px;
}
.watch__img__size{
max-width: 270px;
max-height: 200px;
}
.cross_line::before{
  content: " ";
  background: #b0b0b0 none repeat scroll 0 0;
  transform: translate3d(-50%,-50%,0) rotate(-10deg);
  position: absolute;
margin-top: 12px;
margin-left: 25px;
  width: 4%;
  height: 1px;
}
.cross_line{
  color: #828282;
  font-size: 15px;
}
.watch__img__size2{
  width: 100px;
  
}
.btn__basket{
  background-color:transparent;
  border-radius: 50%;
  color: #e76e62;
  border-color: #e76e62 ;
  border-style: solid;
  border-width: 1px;
}
.vertical__card__container:hover{
  box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.line{
  width: 50px;
  height: 2px;
  background: #000;
}
.post__button{
  color: #e76e62 ;
  border-color:#e76e62 ;
  border-style: solid;
  font-size: 12px;
}
.post__button:hover{
  background-color: #e76e62 !important;
  color: white;
  transition: all 0.5s ease 0s;
}
.map__border{
  border: 1px dashed black;
width: 50px ;
height: 50px;

}
.dropdown__navbar{

}
@media (max-width: 520px){
  .watch__header__backgroundImg{
    min-height: 175px;
  }
}
@media (max-width: 767px){
.watch__header__backgroundImg{
  min-height: 222px;
}
}
@media (max-width: 991px){
  .watch__header__backgroundImg{
    min-height: 250px;
  }
  }